@import url('https://fonts.googleapis.com/css?family=Arimo');
h1,
h2,
h3,
h4,
h5,
h6,
div,
a,
span {
    font-family: 'Arimo', sans-serif!important;
}

html {
    /*overflow-x: hidden;*/
}

.toc {
    position: sticky;
    text-align: right;
    top: 10rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
}

.title-nav {
    font-size: 225%;
}

.titulo {
    text-align: center;
    padding-bottom: 3%;
}

.sub-titulo {
    text-align: justify;
}

.linea_t {
    background-color: rgb(0, 57, 163);
    padding-top: .51%;
    width: 100%;
    ;
}

.letra_card {
    font-size: 75%;
}

.linea_s {
    background-color: rgb(171, 198, 247);
    padding-top: .21%;
    margin-top: 0%;
    width: 69%;
    ;
}

.cita {
    background-color: rgb(240, 240, 240);
    font-style: italic;
    height: 30%;
    margin-top: 5%;
}

.resaltar {
    color: black;
    font-weight: bold;
}

.imagen {
    filter: grayscale(.2);
    width: 100%;
}

.img {
    display: block;
}

.yellow:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(1, 170, 159, 0.85), rgba(243, 228, 17, 0.5));
}

.yellow-r:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(1, 170, 159, 0.095), rgba(243, 228, 17, 0.306));
}

.black:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(255, 238, 0, 0.5), rgba(0, 70, 78, 0.612));
}

.black-r:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(255, 238, 0, 0.251), rgba(0, 70, 78, 0.55));
}

.purp:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(1, 85, 109, 0.598), rgba(79, 0, 139, 0.632));
}

.purp-r:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(1, 86, 109, 0.081), rgba(79, 0, 139, 0.027));
}

.green:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(79, 0, 139, 0.632), rgba(0, 139, 107, 0.598));
}

.green-r:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(79, 0, 139, 0.074), rgba(0, 139, 107, 0.224));
}

.greellow:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(28, 209, 164, 0.591), rgba(109, 33, 79, 0.87));
}

.greellow-r:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(28, 209, 164, 0.197), rgba(109, 33, 79, 0));
}

.text-over {
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 5%;
    left: 5%;
    text-align: center;
}

.blanquear {
    z-index: 1000;
    color: #ffffff;
}

.subseccion {
    padding-bottom: 2%;
    padding-top: 2%;
}

dl dd::before {
    position: relative;
    left: 1%;
    margin-top: -10px;
    counter-increment: myCounter;
    content: counter(myCounter);
    display: inline-block;
    text-align: center;
    margin: 5px 10px;
    transition: all .2s;
    color: #ffffff;
    background: #fffb00 !important;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.box {
    background-color: rgba(125, 127, 153, 0.322);
    padding: 5%;
}

.box:hover {
    background-color: rgba(41, 46, 121, 0.137);
}

.sub-line {
    position: relative;
    padding-bottom: 2%;
}

.sub-line:before {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #001988;
    position: absolute;
    bottom: 0;
    transition: all 0.3s;
    left: 0;
}

.sub-line:hover:before {
    width: 100%;
}

.mrg {
    margin-bottom: 5%;
}

.shadow {
    border: 1px solid yellow;
    padding: 10px;
    box-shadow: 5px 10px 18px #88888871;
}

.shadow2 {
    padding: 0!important;
    box-shadow: 5px 10px 18px #88888871;
}

.card-box {
    padding-bottom: 2%!important;
}

.footer-card {
    font-size: 150%;
}

.footer-card2 {
    font-size: 120%;
}

.container-fluid {
    background-color: white!important;
    padding-top: 5%;
    padding-bottom: 3%;
}

.fondo-titulo {
    padding-top: 120px;
    padding-bottom: 75px;
    background-image: url("./assets/images/plasma.jpg");
}

.cid-rbIrH0n99s {
    background-image: url("./assets/images/Foto\ Ampolleta.jpg") !important;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 395px;
    /* largo de la foto de atras por ende si esto es muy grande, adelante se te va a ver con una sobre, piensa que pones dos cartas juntas*/
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
    z-index: 2;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    z-index: 1;
}

.navbar {
    background-color: rgba(15, 118, 153, 0.558);
    top: 0px;
}

.nav-link {
    color: white;
}

.dropbox::before {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fffb00;
    position: absolute;
    bottom: 0;
    transition: all 0.3s;
    left: 0;
}

.dropbox:hover:before {
    width: 100%;
}

.nav-link:hover {
    color: #faf884;
}

.dropdown-menu {
    background-color: rgba(15, 118, 153, 0.558);
}

.dropdown-item {
    color: white;
}


/*IMPORTS*/

@import url('https://fonts.googleapis.com/css?family=Lobster');