.toc {
    position: sticky;
    text-align: right;
    top: 10rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
}

.title-nav {
    font-size: 225%;
}

.titulo {
    text-align: center;
    padding-bottom: 3%;
}
.sub-titulo{
    text-align: justify;
    padding-bottom: 3%;
}
.linea_t{
    background-color: rgb(0, 57, 163);
    padding-top: .51%;
    width: 100%;;
}
.linea_s{
    background-color: rgb(171, 198, 247);
    padding-top: .21%;
    margin-top: 0%;
    width: 69%;;
}
.cita{
    background-color: rgb(240, 240, 240);
    font-style: italic;
    height: 30%;
    margin-top: 5%;
}
.resaltar{
    color: black;
    font-weight: bold;
}
.imagen{
    width: 100%;
}
.subseccion {
    padding-bottom: 2%;
    padding-top: 2%;
}
.bola ol li:before {
    position: absolute;
    left: 0px;
    margin-top: -10px;
    counter-increment: myCounter;
    content: counter(myCounter);
    display: inline-block;
    text-align: center;
    margin: 5px 10px;
    line-height: 40px;
    transition: all .2s;
    color: #d61717;
    background: #010a0e !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }