
.toc{
    position: sticky;
    text-align: right;
    top: 10rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
}
.title-nav{
    font-size: 225%;
}
.titulo{
    text-align: center;
    padding-bottom: 3%;
}